# API Fun
In this notebook I'll be interacting with a few different APIs and place the data into pandas dataframes.

In [1]:
import requests
import json
import pandas as pd
import pprint

### Google Maps API
We'll take a look at what type of information can be retrieved through google maps geocode API.

In [14]:
# Retrieve json from url and print status code
maps_url = 'https://maps.googleapis.com/maps/api/geocode/json'

res = requests.get(maps_url + '?address=Queens,+Newyork')
res.status_code

200

In [15]:
# Load the json file 
res_dictionary = json.loads(res.content)
res_dictionary

{'results': [{'address_components': [{'long_name': 'Queens',
     'short_name': 'Queens',
     'types': ['political', 'sublocality', 'sublocality_level_1']},
    {'long_name': 'Queens County',
     'short_name': 'Queens County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'New York',
     'short_name': 'NY',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']}],
   'formatted_address': 'Queens, NY, USA',
   'geometry': {'bounds': {'northeast': {'lat': 40.8122421,
      'lng': -73.70027209999999},
     'southwest': {'lat': 40.4897939, 'lng': -74.0421119}},
    'location': {'lat': 40.7282239, 'lng': -73.7948516},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 40.8122421, 'lng': -73.70027209999999},
     'southwest': {'lat': 40.4897939, 'lng': -74.0421119}}},
   'place_id': 'ChIJK1kKR2lDwokRBXtcbIvRCUE',
   'types': ['political', 'sublocality', 'sublocality_level_1']}],
 'status': 'OK'}

In [28]:
# Make dataframe from address components
pd.DataFrame(res_dictionary['results'][0]['address_components'])

       long_name     short_name                                          types
0         Queens         Queens  [political, sublocality, sublocality_level_1]
1  Queens County  Queens County       [administrative_area_level_2, political]
2       New York             NY       [administrative_area_level_1, political]
3  United States             US                           [country, political]

Not too much interesting data given a city as the key. We can revisit this at a later date and play around with the distance data they have available.

### SWAPI (The Star Wars API)

In [32]:
# Retrieve json from url and print status code
# API is for the characters in the Star Wars movies
res = requests.get('https://swapi.co/api/people/?format=json')

res.status_code

200

In [52]:
# Load the json file
char_dict = json.loads(res.content)

# Information stored in 'results' key
df = pd.DataFrame(char_dict['results'])
df.head()

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,blond,172,https://swapi.co/api/planets/1/,77,Luke Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/12/, https://s...",https://swapi.co/api/people/1/,"[https://swapi.co/api/vehicles/14/, https://sw..."
1,112BBY,2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,167,https://swapi.co/api/planets/1/,75,C-3PO,gold,[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/2/,[]
2,33BBY,2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,red,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,96,https://swapi.co/api/planets/8/,32,R2-D2,"white, blue",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/3/,[]
3,41.9BBY,2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",male,none,202,https://swapi.co/api/planets/1/,136,Darth Vader,white,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/13/],https://swapi.co/api/people/4/,[]
4,19BBY,2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",female,brown,150,https://swapi.co/api/planets/2/,49,Leia Organa,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/5/,[https://swapi.co/api/vehicles/30/]

In [60]:
# Using 'params' parameter for the get method can make the request
# more dynamic.
query = 'obi'
url = 'https://swapi.co/api/people'

query_params = {'format': 'json', 'search': query}
res = requests.get(url, query_params)

obi_dict = json.loads(res.content)

pd.DataFrame(obi_dict['results'])

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,57BBY,2014-12-10T16:16:29.192000Z,2014-12-20T21:17:50.325000Z,blue-gray,"[https://swapi.co/api/films/2/, https://swapi....",male,"auburn, white",182,https://swapi.co/api/planets/20/,77,Obi-Wan Kenobi,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/48/, https://s...",https://swapi.co/api/people/10/,[https://swapi.co/api/vehicles/38/]

###  Failed Startup API
This API was built by one of my instructors at General Assembly. He called it one of his failed startups, but ended up serving well for teaching purposes for APIs. He said he makes tens of dollars a year with this website.<br/><br/>
This website is an easy way to match new businesses with their corresponding NAICS codes

In [83]:
# Retrieve json from url and print status code
res = requests.get('https://naics-codes.firebaseio.com/codes.json')

res.status_code

200

In [88]:
# Load the json file
dct = json.loads(res.content)

# Print first 5 key, value pairs
{k: dct[k] for k in list(dct)[:5]}

{'111110': 'Soybean Farming',
 '111120': 'Oilseed (except Soybean) Farming',
 '111130': 'Dry Pea and Bean Farming',
 '111140': 'Wheat Farming',
 '111150': 'Corn Farming'}

In [92]:
# Create list of dictionaries to create pandas Dataframe
codes = []

for k, v in dct.items():
    temp_dct = {}
    temp_dct['code'] = k
    temp_dct['desc'] = v
    
    codes.append(temp_dct)
    
df = pd.DataFrame(codes)
df.head()

     code                              desc
0  111110                   Soybean Farming
1  111120  Oilseed (except Soybean) Farming
2  111130          Dry Pea and Bean Farming
3  111140                     Wheat Farming
4  111150                      Corn Farming

The next few get requests are from the same website, but different pages.

In [98]:
# Ranges are grouped categories for the corresponding first 2 digits
# of the NAICS code
res = requests.get('https://naics-codes.firebaseio.com/ranges.json')
res.status_code

200

In [99]:
# Load JSON and print the dictionary
range_dct = res.json()
range_dct

{'11': 'NAICS range for Agriculture, Forestry, Fishing and Hunting',
 '21': 'NAICS range for Mining, Quarrying, and Oil and Gas Extraction',
 '22': 'NAICS range for Utilities',
 '23': 'NAICS range for Construction',
 '31': 'NAICS range for Manufacturing',
 '42': 'NAICS range for Wholesale Trade',
 '44': 'NAICS range for Retail Trade',
 '48': 'NAICS range for Transportation and Warehousing',
 '51': 'NAICS range for Information',
 '52': 'NAICS range for Finance and Insurance',
 '53': 'NAICS range for Real Estate and Rental and Leasing',
 '54': 'NAICS range for Professional, Scientific, and Technical Services',
 '55': 'NAICS range for Management of Companies and Enterprises',
 '56': 'NAICS range for Administrative and Support and Waste Management and Remediation Services',
 '61': 'NAICS range for Educational Services',
 '62': 'NAICS range for Health Care and Social Assistance',
 '71': 'NAICS range for Arts, Entertainment, and Recreation',
 '72': 'NAICS range for Accommodation and Food Services',
 '81': 'NAICS range for Other Services (except Public Administration)',
 '92': 'NAICS range for Public Administration'}

In [101]:
# Creating list of dictionaries through list comprehension
ranges = [{'code': code, 'desc': desc} for code, desc in range_dct.items()]

pd.DataFrame(ranges)

   code                                               desc
0    11  NAICS range for Agriculture, Forestry, Fishing...
1    21  NAICS range for Mining, Quarrying, and Oil and...
2    22                          NAICS range for Utilities
3    23                       NAICS range for Construction
4    31                      NAICS range for Manufacturing
5    42                    NAICS range for Wholesale Trade
6    44                       NAICS range for Retail Trade
7    48     NAICS range for Transportation and Warehousing
8    51                        NAICS range for Information
9    52              NAICS range for Finance and Insurance
10   53  NAICS range for Real Estate and Rental and Lea...
11   54  NAICS range for Professional, Scientific, and ...
12   55  NAICS range for Management of Companies and En...
13   56  NAICS range for Administrative and Support and...
14   61               NAICS range for Educational Services
15   62  NAICS range for Health Care and Social Assistance
16   71  NAICS range for Arts, Entertainment, and Recre...
17   72    NAICS range for Accommodation and Food Services
18   81  NAICS range for Other Services (except Public ...
19   92              NAICS range for Public Administration

In [105]:
# Industries gives descriptions with NAICS codes
res = requests.get('https://naics-codes.firebaseio.com/industries.json')

res.status_code

200

In [112]:
# Load JSON and print first 5 key, value pairs in dictionary
ind_dct = res.json()

{k: ind_dct[k] for k in list(ind_dct)[:5]}

{'-KPQ1i-TjVmUkGtFRskR': {'code': '111110',
  'description': 'Soybean farming, field and seed production'},
 '-KPQ1i-ZsVqdUh74c8BE': {'code': '111120',
  'description': 'Canola farming, field and seed production'},
 '-KPQ1i-_a-jGi36cLdm6': {'code': '111120',
  'description': 'Flaxseed farming, field and seed production'},
 '-KPQ1i-a5D-hoEcrLHgM': {'code': '111120',
  'description': 'Mustard seed farming, field and seed production'},
 '-KPQ1i-a5D-hoEcrLHgN': {'code': '111120',
  'description': 'Oilseed farming (except soybean), field and seed production'}}

In [116]:
# Create list of dictionaries from the value of ind_dct dictionary
industries = []

for k, v in ind_dct.items():
    industries.append(v)
    
pd.DataFrame(industries).head()

     code                                        description
0  111110         Soybean farming, field and seed production
1  111120          Canola farming, field and seed production
2  111120        Flaxseed farming, field and seed production
3  111120    Mustard seed farming, field and seed production
4  111120  Oilseed farming (except soybean), field and se...